<ul class="nav flex">
    <!-- Loop through the navigation items -->
    {{#foreach navigation}}
        <li class="nav-{{slug}} mx-4 last-of-type:mr-0 py-1 px-3 rounded-3xl hover:bg-white hover:text-black uppercase {{#if current}} nav-current{{/if}}"><a href="{{url absolute="true"}}">{{label}}</a></li>
    {{/foreach}}
    <!-- End the loop -->
</ul>