<ul class="nav flex flex-col md:flex-row text-right md:text-center">
    <!-- Loop through the navigation items -->
    {{#foreach navigation}}
        <li class="nav-{{slug}} mb-4 md:mb-0 md:mx-4 last-of-type:mr-0 py-1 px-3 rounded-3xl transition duration-200 uppercase {{#unless current}}bg-black text-white hover:bg-white hover:text-black{{/unless}} {{#if current}}bg-white text-black pointer-events-none{{/if}}"><a href="{{url absolute="true"}}">{{label}}</a></li>
    {{/foreach}}
    <!-- End the loop -->
</ul>