{{!< default}}

<div class="gh-page bg-black">
    <div class="gh-container text-center text-white py-36">
        <h1 class="font-headingFont text-6xl mb-10">
            Self-paced courses to level up your brand marketing.
        </h1>
        <p class="text-xl w-4/5 mx-auto">
            I distilled the people-first brand marketing process I’ve been honing for 15 years into self-paced,
            accessible courses. Choose your adventure.
        </p>
        <div class="flex gap-20 mt-20">
            <a href="https://backroom.teachable.com/p/the-brand-framework-course" target="_blank" class="w-1/2 rounded-lg">
                <img class="rounded-lg" src="https://backroom-ghost-theme.s3.amazonaws.com/brand-framework.jpg" />
            </a>
            <a href="https://backroom.teachable.com/p/cut-the-noise" target="_blank" class="w-1/2 rounded-lg">
                <img class="rounded-lg" src="https://backroom-ghost-theme.s3.amazonaws.com/cut-the-noise.jpg" />
            </a>
        </div>
    </div>
</div>