{{!< default}}

<div class="bg-black h-[60vh]">
    <div class="gh-container h-full flex flex-col justify-center items-center text-white">
        <h1 class="font-headingFont text-center text-6xl mb-6">Become a people-first marketer.</h1>
        <p class="text-xl px-4 lg:px-0 md:w-2/3 text-center">The future of marketing puts <span class="font-bold">humans</span> at the center of product, messaging, and outreach. Learn how at your own pace, on your own time.</p>
    </div>
</div>

<section class="gh-container flex flex-col md:flex-row justify-between items-center py-20 px-4 lg:px-0">
    <div class="mb-6 md:mb-0 md:w-1/2">
        <h2 class="text-3xl mb-6">Get people-first content in your inbox</h2>
            <p class="">Each week I send out no-BS brand marketing content, hot industry jobs, and whatever else is on my mind. Sign up free.</p>
    </div>

    <a href="#/portal/signup"
        class="bg-black h-12 py-4 px-12 rounded-full text-white uppercase leading-3 border-2 border-black hover:bg-white hover:text-black ease-in duration-200"
    >
       Subscribe
    </a>
</section>

<section class="bg-black text-white py-20 px-4 md:px-0">
    <div class="gh-container flex flex-col-reverse lg:flex-row justify-between">
        <div class="w-full lg:w-1/2">
            <h2 class="font-headingFont text-6xl mb-12">Let’s build a brand that’s real.</h2>
            <p class="mb-4">I started Backroom in 2014 with one core mission: Could we be successful AND be good to people?</p>
            <p class="mb-4"><The answer was yes. After years of helping brands launch, scale, merge, and rebrand, I realized one thing—there’s a way to grow without the icky tactics./p>
            <p class="mb-4">I’m here because I know what it’s like to be stuck with the same recycled marketing advice that feels fake and forced. That’s why I built Backroom as a people-first agency. I wanted to create an approach that’s flexible, adaptive, and uniquely tailored to the person or company in front of me.</p>
        </div>
        <div class="w-full lg:w-1/3 mb-12 lg:mb-0">
            <img class="w-full" src="https://backroom-ghost-theme.s3.amazonaws.com/kara-backroom-ghost-theme.jpg" />
        </div>
    </div>
    <div class="gh-container grid grid-cols-1 md:grid-cols-3 gap-8">
        <h2 class="col-span-1 md:col-span-3 my-16">Here’s what you’ll get when you work with me:</h2>
        <div class="col-span-1">
            <p class="font-bold mb-8">Straight-up clarity</p>
            <p>Strong brands know who they are and say it clearly. Let’s design a brand that connects with people and solves their problems.</p>
        </div>
        <div class="col-span-1">
            <p class="font-bold mb-8">No one-size-fits-all bullshit</p>
            <p>I don’t believe in rigid playbooks. We’ll build something fresh whether you’re launching something new or refining what’s already there.</p>
        </div>
        <div class="col-span-1">
            <p class="font-bold mb-8">Your brand’s best friend</p>
            <p>I’m not just a strategist. I’m your brand’s advocate and passionate defender, unafraid to push back on ideas that won’t get results.</p>
        </div>
    </div>
</section>

<section class="gh-container py-12 px-4 md:px-0">
    <h2 class="font-headingFont text-6xl mb-14 text-center md:text-left">What else you can do.</h2>

    <article class="mb-14 flex flex-col lg:flex-row justify-between items-center">
        <div class="w-full lg:w-3/5 mb-10 md:mb-0">
            <h3 class="text-3xl mb-4 uppercase">join the community</h3>
            <p>
                A private community for like-minded marketers to connect, share, and inspire new ideas, backed by an award-winning creative agency.
            </p>
        </div>
        <a
            href="https://brandinsiders.backroom.io/join?invitation_token=73c8ba854d85f66729208b54124de418f98e17a8-48111203-594a-4ef6-9952-a3723a22bf5c" target="_blank"
            class="w-72 text-center bg-black h-12 py-4 rounded-full text-white uppercase leading-3 border-2 border-black hover:bg-white hover:text-black ease-in duration-200 self-center lg:self-end"
        >
            Join the Community
        </a>
    </article>

    <article class="mb-14 flex flex-col lg:flex-row justify-between items-center"">
        <div class="w-full lg:w-3/5 mb-10 md:mb-0">
            <h3 class="text-3xl mb-4 uppercase">Self-Paced Courses</h3>
            <p>Learn how to build a powerful brand strategy framework using the people-first process that’s helped my clients grow, exit, acquire, build empires, and create powerful personal brands.</p>
        </div>
        <a href="/courses"
            class="w-72 text-center bg-black h-12 py-4 rounded-full text-white uppercase leading-3 border-2 border-black hover:bg-white hover:text-black ease-in duration-200 self-center lg:self-end"
        >
            see courses
        </a>
    </article>

    <article class="mb-14 flex flex-col lg:flex-row justify-between items-center"">
        <div class="w-full lg:w-3/5 mb-10 md:mb-0">
            <h3 class="text-3xl mb-4 uppercase">Hire my agency, Backroom</h3>
            <p>Want hands on support and training for your brand’s marketing? Are you passionate about creating high value products and campaigns for your customers? We got you.</p>
        </div>
        <a href="https://form.typeform.com/to/hQ5yZNlx" target="_blank"
            class="w-72 text-center bg-black h-12 py-4 rounded-full text-white uppercase leading-3 border-2 border-black hover:bg-white hover:text-black ease-in duration-200 self-center lg:self-end"
        >
            Apply Now
        </a>
    </article>
</section>